<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/categories/liste">Categorie</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer</li>
        </ol>
    </nav>
    <h1>
        Page créer un article</h1>
    <form method="post" action="/frontend/categories/store">
        <div class="form-group"><label for="title">Titre</label><input class="form-control" id="title" type="text" name="title" placeholder="Un joli titre" /></div>
        <div class="form-group"><label for="description">Description</label><textarea class="form-control" id="description" name="description" placeholder="Une jolie description"></textarea></div>
        <button class="btn btn-primary" type="submit">Créer une catégorie</button>
    </form>