<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/categories/liste">Categorie</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-lg-5">
        </div>
    </div>
    <!-- end col -->
    <div class="col-lg-6">

        <!-- Product title -->
        <h3 class="mt-0 font-24">
            <%= article.title%>
        </h3>
        <p class="mb-1 font-10">
            <%= article.created_at%>
        </p>

        <!-- Product description -->
        <!-- Product description -->
        <div class="mt-4">
            <h6 class="font-14">Description:</h6>
            <%= article.description%>
        </div>

        <!-- Product information -->


    </div>
    <!-- end col -->
    </div>
    <!-- end row-->

    </div>
    <!-- end card-body-->
    </div>
    <!-- end card-->
    </div>
    <!-- end col-->
    </div>