<% layout('layout') -%>
<form class="form-inline" id="search"><input class="form-control" type="search" placeholder="Rechercher un article" /><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button></form>