<% layout('../layout') -%>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Simple Authentication App</a>
    </nav>

    <div style="margin-top: 30px">
        <a class="btn btn-primary btn-lg active" href="/login">Login</a>
        <a class="btn btn-primary btn-lg active" href="/register">Register</a>
    </div>