<% layout('../layout') -%>
    <div class="row justify-content-md-center" style="margin-top: 100px">
        <div class="col-md-6">
            <% if(message) { %>
                <div class="alert {{messageClass}}" role="alert">

                    <%= message%>
                </div>


                <% } %>



                    <form method="POST" action="/login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
        </div>
    </div>