<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">
                <a href="/frontend/articles/contact">Contact</a>
            </li>
        </ol>
    </nav>
    <h1>
        Contactez nous !</h1>
    <form method="post" action="/frontend/articles/mailer">
        <div class="form-group"> <label for="name" class="login-text">Name :</label>
            <input class="form-control" id="name" name="name" type="text" /></div>

        <div class="form-group"> <label for="email" class="login-text">Email :</label>
            <input class="form-control" id="user_email" type="email" name="email" /></div>


        <div class="form-group"> <label for="textarea1" class="login-text">Message :</label>
            <textarea id="textarea1" class="form-control" name="message" type="text-area"> </textarea></div>


        <button class="btn btn-primary" type="submit">Créer un article</button></form>