<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/articles/liste">Article</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer</li>
        </ol>
    </nav>
    <h1>
        Page créer un article</h1>
    <form method="post" action="/frontend/articles/store">
        <div class="form-group"><label for="title">Titre</label><input class="form-control" id="title" type="text" name="title" placeholder="Un joli titre" /></div>
        <div class="form-group"><label for="title">Email</label><input class="form-control" id="email" type="email" name="email" placeholder="xxxxxx@xxx.com" /></div>

        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios1" type="radio" name="note" value="1" /><label class="form-check-label" for="exampleRadios1">1</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios2" type="radio" name="note" value="2" /><label class="form-check-label" for="exampleRadios2">2</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios3" type="radio" name="note" value="3" checked="checked" /><label class="form-check-label" for="exampleRadios3">3</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios4" type="radio" name="note" value="4" /><label class="form-check-label" for="exampleRadios4">4</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios5" type="radio" name="note" value="5" /><label class="form-check-label" for="exampleRadios5">5  </label></div>
        <div class="form-group"><label for="category">Category</label><select class="form-control" id="category" name="categorie_id"><option value="1">Actu</option><option value="2">Sport</option><option value="3">Technologie</option><option value="4">Economie</option></select></div>
        <button class="btn btn-primary" type="submit">Créer un article</button></form>