
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/articles/liste">Article</a></li>
        </ol>
    </nav>

    <h1>
        Liste des articles</h1>
    <table class="table">
        <thead>
            <tr></tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Note</th>
            <th scope="col">Categorie</th>
            <th scope="col">Voir</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <% if( data.length === 0) { %>
                Aucun article disponible


                <% } else{ %>



                    <% for(var i = 0; i < data.length; i++) { %>
                        <td>
                            <%= data[i].id%>
                        </td>
                        <td>
                            <%= data[i].title%>
                        </td>
                        <td>
                            <%= data[i].note%>
                        </td>
                        <td>
                            <%= data[i].macategorie%>
                        </td>
                        <td><a class="btn btn-info edit " href="/frontend/articles/show/<%=data[i].id%>">Voir</a>
                        </td>
                        <td>
                            <a class="btn btn-warning edit" href="/frontend/articles/update/<%=data[i].id%>">Modifier</a>

                            <a class="btn btn-danger edit" href="/frontend/articles/remove/<%=data[i].id%>">Supprimer</a>

                        </td>
                        </tr>

                        <% } %>
                            <% } %>
        </tbody>
    </table>

    <a class="btn btn-primary edit" href="create">Créer un article</a>