<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/articles/liste">Article</a></li>
            <li class="breadcrumb-item active" aria-current="page">Détails</li>
        </ol>
    </nav>



    <div class="row">
        <div class="col-lg-5">
        </div>
    </div>
    <!-- end col -->
    <div class="col-lg-6">

        <!-- Product title -->
        <h3 class="mt-0 font-24">
            <%= article.title%>
        </h3>
        <p class="mb-1 font-10">
            <%= article.email%>
        </p>

        <!-- Product description -->
        <!-- Product description -->
        <div class="mt-4">
            <h6 class="font-14">Categorie:</h6>
            <%= article.macategorie%>
        </div>
        <div class="mt-4">
            <h6 class="font-14">Note:</h6>
            <%= article.note%>
        </div>
        <!-- Product information -->


    </div>
    <!-- end col -->
    </div>
    <!-- e
    <h2>
        <%= article.title%>
    </h2>
    <h2>
        <%= article.email%>
    </h2>
    <h2>
        <%= article.note%>
    </h2>
    <h2>
        <%= article.macategorie%>
    </h2>