<% layout('../layout') -%>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/frontend/articles/liste">Article</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier</li>
        </ol>
    </nav>

    <h1>Modifier un article</h1>
    <form method="post" action="/frontend/articles/store/<%= article.id%>">
        <div class="form-group"><label for="title">Titre</label><input class="form-control" id="title" value="<%= article.title%>" type="text" name="title" placeholder="Un joli titre" /></div>
        <div class="form-group"><label for="description">Description</label><textarea class="form-control" id="description" name="description" placeholder="Une jolie description"> <%= article.description%> </textarea></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios1" type="radio" name="note" value="1" <% if(article.note==1){ %> checked="checked"
            <% } %> /><label class="form-check-label" for="exampleRadios1">1</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios2" type="radio" name="note" value="2" <% if(article.note==2){ %> checked="checked"
            <% } %>/><label class="form-check-label" for="exampleRadios2">2</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios3" type="radio" name="note" value="3" <% if(article.note==3){ %> checked="checked"
            <% } %> /><label class="form-check-label" for="exampleRadios3">3</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios4" type="radio" name="note" value="4" <% if(article.note==4){ %> checked="checked"
            <% } %>/><label class="form-check-label" for="exampleRadios4">4</label></div>
        <div class="form-check-inline"><input class="form-check-input" id="exampleRadios5" type="radio" name="note" value="5" <% if(article.note==5){ %> checked="checked"
            <% } %> /><label class="form-check-label" for="exampleRadios5">5  </label></div>
        <div class="form-group"><label for="category">Category</label><select class="form-control" id="category" name="categorie_id"><option value="1"  <% if(article.category_id==1){ %> selected="selected" <% } %> >Actu</option><option value="2" <% if(article.category_id==2){ %> selected="selected" <% } %> >Sport</option><option value="3" <% if(article.category_id==3){ %> selected="selected" <% } %> >Technologie</option><option value="4" <% if(article.category_id==4){ %> selected="selected" <% } %> >Economie</option></select></div>
        <button class="btn btn-primary" type="submit">Créer un article</button></form>