/* :: Button CSS */

.btn-block {
    display: block !important;
    width: 100% !important;
}

.btn {
    @include transition-duration(400ms);
    font-size: 14px;
    border-radius: .15rem;

    &:focus,
    &:hover {
        font-size: 14px;
    }

    &.btn-rounded {
        border-radius: 30px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.btn-lg {
        font-size: 1.25rem;

        &.btn-rounded {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    &.btn-circle {
        border-radius: 50%;
        padding: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;

        &.btn-lg {
            padding: 0;
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 50%;
        }
    }
}

.btn-light {
    color: #313a46;
    background-color: #e3eaef;
    border-color: #e3eaef;
}

.btn-light {
    -webkit-box-shadow: 0 2px 6px 0 rgba(227, 234, 239, .5);
    box-shadow: 0 2px 6px 0 rgba(227, 234, 239, .5);
}

.btn-light {
    color: #313a46;
    background-color: #e3eaef;
    border-color: #e3eaef;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5578eb;
    border-color: #5578eb;
}

.btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
}

.btn-twitter {
    color: #ffffff;
    background-color: #55acee;
}

.btn-googleplus {
    color: #ffffff;
    background-color: #dd4b39;
}

.btn-linkedin {
    color: #ffffff;
    background-color: #007bb6;
}

.btn-pinterest {
    color: #ffffff;
    background-color: #cb2027;
}

.btn-dribbble {
    color: #ffffff;
    background-color: #ea4c89;
}

.btn-instagram {
    color: #ffffff;
    background-color: #3f729b;
}

.btn-youtube {
    color: #ffffff;
    background-color: #bb0000;
}