/* :: Inbox CSS */

.email-content-area {
    .mail-sidebar {
        border-right: 1px solid $border-color;

        .menu-bar {
            width: 100%;
            float: right;
            height: 100%;
            min-height: 100%;

            .menu-items {
                padding: 0;
                margin-bottom: 0;
                height: auto;
                list-style-type: none;

                li {
                    padding: 6px 10px;
                    transition: 0.4s;
                    position: relative;
                    border-radius: 4px;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                    -webkit-justify-content: space-between;
                    justify-content: space-between;

                    &:hover {
                        background: #eef0f7;
                    }

                    a {
                        color: $heading-color;
                        font-size: 14px;

                        i {
                            color: $primary;
                            margin-right: 5px;
                            font-weight: 600;
                        }
                    }

                    &.active {
                        background: #eef0f7;
                    }
                }
            }

            .mail-profile-list {
                .mail-profile-list-item {
                    margin-bottom: 20px;

                    .mail-client {
                        .thumb {
                            @include flex(0 0 20%);
                            width: 20%;
                            max-width: 20%;

                            img {
                                border-radius: 50%;
                            }
                        }

                        .user {
                            @include flex(0 0 80%);
                            width: 80%;
                            max-width: 80%;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }
    }

    .mail-list-area {
        .mail-list {
            @include display-flex(flex);
            border-bottom: 1px solid $border-color;

            .content {
                @include flex(0 0 65%);
                width: 65%;
                max-width: 65%;

                .sender-name {
                    font-size: 14px;
                    color: $heading-color;
                    margin-bottom: 0;
                    font-weight: 500;
                }

                .message_text {
                    font-size: 13px;
                    margin-bottom: 0;
                }
            }

            .time {
                text-align: right;
                @include flex(0 0 25%);
                width: 25%;
                max-width: 25%;

                p {
                    font-size: 12px;
                }

            }

            .custom-control.custom-checkbox {
                @include flex(0 0 10%);
                width: 10%;
                max-width: 10%;
            }
        }
    }
}