/* :: Preloader CSS */

#droba-loader {
    position: fixed;
    background-color: #fff;
    z-index: 99999999999999999;
    height: 100%;
    width: 100%;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}

#droba-loader.loaded {
    opacity: 0;
    visibility: hidden;
}

#droba-loader:before,
#droba-loader:after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: $primary;
    -webkit-transition: .7s all ease;
    -o-transition: .7s all ease;
    transition: .7s all ease;
}

#droba-loader:before {
    top: 0;
    left: 0;
}

#droba-loader:after {
    bottom: 0;
    left: 0;
}

#droba-loader.loaded:before,
#droba-loader.loaded:after {
    height: 0%;
}

#droba-loader .loader {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
    -webkit-animation: 1s infinite ease-in-out;
    animation: 1s infinite ease-in-out;
}

#droba-loader .loader:before,
#droba-loader .loader:after {
    -webkit-animation: .8s infinite ease-in-out;
    animation: .8s infinite ease-in-out;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#droba-loader .loader:before {
    content: '';
    border: 10px solid  $primary;
    top: -10px;
    left: -10px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-animation-name: anim-loader;
    animation-name: anim-loader;
}

#droba-loader.loaded .loader {
    opacity: 0;
}

@-webkit-keyframes anim-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes anim-loader {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}