/* :: Product Edit CSS */

.product-thumb {
    width: 60px;
}

.progress-w-percent .progress {
    width: calc(100% - 50px);
    float: left;
    margin-top: 8px;
}

.progress-w-percent .progress-value {
    width: 40px;
    float: right;
    text-align: right;
    line-height: 20px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, .12);
    background-color: #0acf97;
    top: auto;
    bottom: auto;
}

.product-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 18px;
    border-radius: 7px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);

    .product-title {
        a {
            margin-bottom: 5px;
            font-size: 20px;
            color: $heading-color !important;
            text-align: center;
            display: inline-block;
            @include transition-duration(500ms);
            line-height: 1;
        }

    }

    .product-price {
        color: $heading-color !important;
        font-size: 16px;
        font-weight: 400;
    }
}

.checkout-thumb {
    width: 60px;
}