/* :: Reboot CSS */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F4F4;
    color: $text-color;
    overflow-x: hidden;
    font-family: $fonts;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
    color: $heading-color;
    font-weight: 500;
    font-family: $fonts;
}

p {
    color: $text-color;
    line-height: 1.9;
    font-size: 14px;
    font-weight: 400;
    font-family: $fonts;
}

a,
a:hover,
a:focus {
    @include transition-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
}

ul,
ol {
    margin: 0;
}

ul li,
ol li {
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.popover,
.tooltip {
    z-index: 9999999;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.mt-250 {
    margin-top: 250px !important;
}

.mt-300 {
    margin-top: 300px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.mb-250 {
    margin-bottom: 250px !important;
}

.mb-300 {
    margin-bottom: 300px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-20 {
    padding: 20px;
}

.line-height-50-p-0 {
    line-height: 50px;
    padding: 0;
}

.height-50 {
    height: 50px !important;
}

.height-200 {
    height: 200px !important;
}

.height-300 {
    height: 300px !important;
}

.height-400 {
    height: 400px !important;
}

.height-500 {
    height: 500px !important;
}

.height-600 {
    height: 600px !important;
}

.height-700 {
    height: 700px !important;
}

.height-800 {
    height: 800px !important;
}

.w-15 {
    width: 15% !important;
}

.w-40 {
    width: 40% !important;
}

.w-70 {
    width: 70% !important;
}

.w-50 {
    width: 50% !important;
}

.section-padding-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $white-color;
    z-index: 999999;
}

.h-100vh {
    height: 100vh !important;
}

.bg-default-opacity-8- {
    background-color: rgba(113, 192, 22, 0.8) !important;
}

.bg-green {
    background-color: $green-color;
}

.bg-overlay-white {
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, white), to(rgba(255, 255, 255, 0.2)));
        background-image: -webkit-linear-gradient(left, white 0, rgba(255, 255, 255, 0.2) 100%);
        background-image: -o-linear-gradient(left, white 0, rgba(255, 255, 255, 0.2) 100%);
        background-image: linear-gradient(to right, white 0, rgba(255, 255, 255, 0.2) 100%);
    }
}

.green-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(113, 192, 22, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.green-color-overlay-2 {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(113, 192, 22, 0.30);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.pink-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(136, 14, 79, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.danger-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(241, 83, 110, 0.75);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.dark-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.dark-color-overlay-2 {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}


.primary-color-overlay {
    position: relative;
    z-index: 1;

    &::after {
        background-color: rgba(114, 124, 245, 0.8);
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.btn-default {
    background-color: $white-color;
    color: $dark-text;
    border-color: transparent;
    font-weight: 500;
}

.bg-primary {
    background-color: $primary-color !important;
}

.primary-color {
    background-color: $primary-color;
}

.bg-danger {
    background-color: #fa5c7c !important;
}

.primary-color-text {
    color: $primary-color;
}

.bg-info {
    background-color: #39afd1 !important;
}

.bg-success {
    background-color: #0acf97 !important;
}

.info-color {
    background-color: $danger-color;
}

.danger-color {
    background-color: $danger-color;
}

.success-color {
    background-color: $green-color;
}

.bg-success {
    background-color: $green-color !important;
}

.success-text {
    color: $green-color;
}

.uppercase-text {
    text-transform: uppercase !important;
}

.warning-color {
    background-color: $warning-color;
}

.bg-purple {
    background-color: $purple-color;
}

.bg-blue {
    background-color: $blue-color;
}

.bg-teal {
    background-color: $blue-2;
}

.bg-chok {
    background-color: $bg-chok;
}

.pink-darken-4 {
    background-color: $pink-darken-4;
}

.g-transition-0_8 {
    @include transition-duration(0.8s);
}

.text-color-gray {
    color: $text-color;
}

.g-bg-black {
    background-color: $dark-text;
}

.white-opacity-0_2 {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.border {
    border: 1px solid $border-color;
}

.border-2 {
    border: 5px solid $border-color;
}

.border-primary {
    border: 8px solid $primary-color !important;
}

.border-chok {
    border: 8px solid $bg-chok;
}

.border-danger {
    border: 8px solid $danger-color !important;
}

.alert-outline-primary {
    border-color: $primary-color;
    border-radius: 5px;
}

.alert-outline-warning {
    border-color: $bg-warning-color;
    border-radius: 5px;
}

.alert-outline-success {
    border-color: $text-success-color;
    border-radius: 5px;
}

.alert-outline-info {
    border-color: $info-color;
    border-radius: 5px;
}

.alert-outline-danger {
    border-color: $danger-color;
    border-radius: 5px;
}

.alert-outline-default {
    border-color: $border-color;
    border-radius: 5px;
    background: transparent;
}

.alert-outline-dark {
    border-color: $bg-dark;
    border-radius: 5px;
}

.bg-gray {
    background-color: $background-color;
}

.text-black {
    color: $dark !important;
}

.border-radius-50 {
    border-radius: 50px !important;
}

.text-muted {
    color: #98a6ad !important;
}


.card .header-title {
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: 18px;
    margin-top: 0;
}

.btn {
    &:focus {
        @include box-shadow (none !important);
    }
}

.g-transition-0_3 {
    @include transition-duration(.3s);
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.theme-bg-gra {
    background: -webkit-linear-gradient(225deg, #1de9b6 0, #1dc4e9 100%);
    background: -o-linear-gradient(225deg, #1de9b6 0, #1dc4e9 100%);
    background: linear-gradient(-135deg, #1de9b6 0, #1dc4e9 100%);
}


.full-height {
    clear: both;
    min-height: 100%;
}

.form-control {
    height: 40px;
    font-size: 14px;
}

.jarallax {
    position: relative;
    z-index: 0;
}

.jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-goback {
    background: #ebebeb;
    color: #323232;
    @include transition-duration(500ms);

    &:hover,
    &:focus {
        background: $primary-color;
        color: $white-color;
    }
}


.order-listing,
.unorder-listing {
    padding-left: 20px;

    li {
        list-style: inherit;
    }
}

.styling-listing {

    li {
        i {
            color: $primary-color;
            padding-right: 5px;
        }
    }
}

.visibility-hidden {
    visibility: hidden;
}

.h-5 {
    height: 5px;
}

.custom--checkbox {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;

    input {
        top: 0;
        left: 0;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        position: absolute;
        display: none;
        width: 15px;
        height: 15px;
    }
}

.custom--checkbox input:checked + .input-helper:before {
    border-color: $primary;
}

.custom--checkbox .input-helper:before,
.custom--checkbox .input-helper:after {
    position: absolute;
    content: "";
    transition: all 200ms;
}

.custom--checkbox .input-helper:before {
    left: 0;
    border: 2px solid #7a7a7a;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    color: #fff;
}

.custom--checkbox input:checked + .input-helper:before {
    background-color: $primary;
}

.custom--checkbox input:checked + .input-helper:after {
    opacity: 1;
}

.custom--checkbox .input-helper:after {
    content: '\f00c';
    font-size: 12px;
    left: 1px;
    top: 0px;
    color: #fff;
    transform: rotate(-10deg);
    font-family: "FontAwesome";
    opacity: 0;
}

.card {
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 4px;
    border: none;
    @include box-shadow(-8px 12px 18px 0 rgba(25,42,70,.13));
}

.font-11 {
    font-size: 11px;
}

.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-30 {
    font-size: 30px;
}

.font-36 {
    font-size: 36px;
}

.font-40 {
    font-size: 40px;
}

.apex-charts text {
    fill: #adb6bd;
}

.text-info {
    color: #39afd1 !important;
}

.text-body {
    color: #6c757d !important;
}

.text-title {
    color: #6c757d;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5) !important;
}

.btn-link:hover {
    text-decoration: none;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #4d5cf2 !important;
    border-color: #4d5cf2 !important;
    background-color: #4d5cf2 !important;
}

.float-right {
    float: right !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #4d5cf2 !important;
    font-size: 18px;
}

.page-title {
    @media #{$breakpoint-xs} {
        font-size: 14px;
    }
}

.page-title-box .page-title-right {
    .breadcrumb {
        background-color: transparent;
        padding: 0;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #777;
}

.breadcrumb-item a {
    color: $primary-color;
}

.breadcrumb-item.active {
    color: #777;
}


.breadcrumb-item {
    @media #{$breakpoint-xs} {
        font-size: 14px;
    }
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    color: $heading-color;
}

.map-container {
    position: relative;
    min-width: 100%;
    max-width: 100%;
    display: block;
    padding: 35% 0;
    overflow: hidden;
    border-radius: 5px;
}

.map-container .google-map {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.badge-warning-lighten {
    color: #ffbc00;
    background-color: rgba(255, 188, 0, 0.20);
}

.badge-danger-lighten {
    color: #fa5c7c;
    background-color: rgba(250, 92, 124, 0.20);
}

.badge-success-lighten {
    color: #0acf97;
    background-color: rgba(10, 207, 151, 0.20);
}

.overflow--hidden {
    overflow: hidden !important;
}

.h-6 {
    height: 6px !important;
}

.h-8 {
    height: 8px !important;
}

.h-10 {
    height: 10px !important;
}

.user-thumb {
    width: 80px;
    height: 80px;
}

.border-radius-50 {
    border-radius: 50% !important;
}

.text-color {
    color: $text-color;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.user-img {
    width: 50px;
    height: 50px;
}

.custom-select {
    font-size: 14px;
}

.dropdown-item {
    font-size: 13px;
}

.align-middle {
    vertical-align: middle !important;
}

.chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

pre {
    font-size: 12px;
    color: #800000;
    font-weight: 600;
}

.border-pre {
    border: 1px solid $border-color;
    padding: 20px;
}