/* :: Table CSS */

.table {
    width: 100%;
    color: #6c757d;
}

.table td,
.table th {
    padding: .95rem;
    vertical-align: top;
    border-top: 1px solid #e3eaef;
    font-size: 14px;
    font-weight: 500;
}

.table-centered td,
.table-centered th {
    vertical-align: middle !important;
}

.table-hover tbody tr:hover {
    color: #6c757d;
    background-color: #f1f3fa;
}

.table thead th {
    border-bottom: 1px solid #e3eaef;
}

input[data-switch="success"]:checked + label {
    background-color: #0acf97;
}

input[data-switch] + label {
    width: 56px;
    height: 24px;
    background-color: #f1f3fa;
    background-image: none;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

input[data-switch] {
    display: none;
}

input[data-switch]:checked + label::before {
    color: #fff;
    content: attr(data-on-label);
    right: auto;
    left: 4px;
}

input[data-switch] + label::before {
    color: #313a46;
    content: attr(data-off-label);
    display: block;
    font-family: inherit;
    font-weight: 600;
    font-size: .75rem;
    line-height: 24px;
    position: absolute;
    right: 3px;
    margin: 0 .21667rem;
    top: 0;
    text-align: center;
    min-width: 1.66667rem;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

input[data-switch]:checked + label::after {
    left: 34px;
    background-color: #f1f3fa;
}

input[data-switch] + label::after {
    content: '';
    position: absolute;
    left: 4px;
    background-color: #adb5bd;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2rem;
    height: 18px;
    width: 18px;
    top: 3px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.table .table-user img {
    height: 30px;
    width: 30px;
}

.table .action-icon {
    color: #5E5155;
    font-size: 16px;
    display: inline-block;
    border: 1px solid $border-color;
    margin-bottom: 5px;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    text-align: center;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    font-size: 14px;
}

.title.tablesaw-swipe-cellpersist a {
    color: $text-color;
}

.title a {
    color: $text-color;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #f1f3fa;
}

.table .thead-light th {
    color: #6c757d;
    background-color: #f1f3fa;
    border-bottom: #e3eaef !important;
}

.bg-nav-pills {
    background-color: #e3eaef;
}

.edit-table-area {

    .table td,
    .table th {
        border-top: 1px solid $border-color;
        background-color: $white-color;
    }
}